<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Форбс</title>
    <link rel="stylesheet" href="/forbs/styles/forbs.css">
    <link rel="stylesheet" href="../styles/icon.css"
</head>
<body>
  <div class="landing-container">
    <div class="landing-section1">
          <h1 class="form_title">Форма для участия</h1>
        <div class="forms">
          <div class="text">
            <label for="fname">Введите имя</label>
            <input type="text" id="fname">
          </div>
          <div class="text">
            <label for="lname">Введите фамилию.</label>
            <input type="text" id="lname">
          </div>
          <div class="text">
            <label for="money">Сумма денег в рублях</label>
            <input type="text" id="money">
          </div>
            <div class="text">
              <label for="car">Марка автомобиля</label>
              <input type="text" id="car">
            </div>
         
        </div>
        <div class="panel">
          <div class="btn-left">
            <div class="icon_add">
            </div>
          </div>
          <div class="btn-left">
            <div class="icon_write">
            </div>
          </div>
        </div>
        
    </div>

    <div class="landing-section2">
      <table class="table" border="1" width="90%" cellpadding="5" rules="rows" >
        <tr height="40px">
         <th width="46%">ФИО</th>
         <th width="27%">Состояние ₽</th>
         <th width="27%">Состояние $</th>
        </tr>
      </table>
      <div class="divTable">
        <div class="divTableBody">
        <div class="divTableRow">
        <div class="divTableCell" style="width: 420px;">Афанасий</div>
        <div class="divTableCell" style="width: 212px;">Афанасий</div>
        <div class="divTableCell" style="width: 212px;">Афанасий</div>
        <div class="btn-right">
          <div class="icon_delete"></div>
        </div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell">&nbsp;</div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        </div>
        </div>
      <div class="end-title">
        <h2>Список FORBES</h2>
      </div>
    </div>
</body>
</html>