.icon_add {
    background: url("../assets/add.svg");
    height: 15px;
    width: 15px;
}

.icon_write {
    background: url("../assets/push.svg");
    height: 15px;
    width: 15px;
}

.icon_delete {
    background: url("../assets/del.svg");
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
}

.icon_send {
    background: url("../assets/send.svg");
    height: 13px;
    width: 13px;
    background-repeat: no-repeat;

}